* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 2px solid black;
    --border-radius: 2rem;
    --p-font-size: clamp(1.25rem, calc(3rem - 1.5dvw), 2rem);
    --h2-font-size: clamp(3rem, calc(4rem - 1.5dvw), 4rem);
    --h3-font-size: clamp(2rem, calc(3rem - 1.5dvw), 3rem);
    --bg-color: #ffffff;
    --text-color: #000000;
    --text-font: Arial;
}

:root.custom-theme {
    --bg-color: var(--custom-bg-color);
    --text-color: var(--custom-text-color);
    --text-font: var(--custom-text-font);
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border: 2px solid rgba(0, 0, 0, 0.774);
}

[data-theme="dark"] {
    --bg-color: #2b2b2b;
    --text-color: #ffffff;
    --border: 2px solid rgba(255, 255, 255, 0.774);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--text-font, Arial);
    text-align: center;

    h2 {
        font-size: var(--h2-font-size);
    }

    h3 {
        font-size: var(--h3-font-size);
    }

    p {
        font-size: var(--p-font-size);
    }

    button {
        border: var(--border);
        border-radius: var(--border-radius);
        background-color: var(--bg-color);
        color: var(--text-color);
        font-size: 1.5rem;
        font-family: var(--text-font);
        margin: 1rem 0;
        padding: 1rem;
        cursor: pointer;
        align-self: center;
    }



    header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: var(--bg-color);
        width: 100%;
        align-items: center;

        h1 {
            font-size: clamp(2rem, calc(3rem - 1dvw), 3rem);
        }

        button {
            padding: 0.5rem 0.5rem;
        }

        form {
            position: fixed;
            top: 15rem;
            left: 50%;
            transform: translate(-85%, -50%);
            display: flex;
            flex-direction: column;
            background: var(--bg-color);
            border: var(--border);
            border-radius: var(--border-radius);
            padding: 0 2rem;
            gap: 0.5rem;
            font-size: var(--p-font-size);
            text-align: start;

            button {
                width: 100%;
            }

            select {
                font-size: var(--p-font-size);

                option {
                    font-size: 1.25rem;
                }
            }
        }

        .hidden {
            display: none;
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            ul {
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-wrap: wrap;
            }

            ul a {
                padding: 1rem;
                font-size: clamp(1.5rem, calc(2rem - 1dvw), 2rem);
                color: var(--text-color);
                text-decoration: none;
            }

            ul a:hover {
                text-decoration: underline;
                text-underline-offset: 1rem;
            }
        }
    }

}

/* Turn cross-document view-transitions on */
/* Note that this at-rule is all that is needed to create the default cross-fade animation  */

@view-transition {
    navigation: auto;
}

header {
    view-transition-name: header;
    z-index: 2;
}

main {
    view-transition-name: main;
    z-index: 1;
}

/* Customize the default animation behavior */

::view-transition-group(main) {
    animation-duration: 0.5s;
}

/* Create a custom animation */

@keyframes move-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-110%);
    }
}

@keyframes move-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* Apply the custom animation to the old and new page states */

/* ::view-transition-old(main) {
    animation: 0.1s ease-in both move-out;

}

::view-transition-new(main) {
    animation: 0.5s ease-in both move-in;
} */